<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <div data-controller="lexical">
      <%= tag.div data:{ lexical_target: "editor" }, style: "width: 500px; height: 500px;", contenteditable: true %>
      <%= form.hidden_field :body, data: { lexical_target:"input" }, value: article.body&.body&.to_html %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
