<!DOCTYPE html>
<html>
  <head>
    <title>Lexical ActionText demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p style="background: #ececec; border: 1px solid black; border-radius: 0.4rem; padding: 1rem;">
      This is a demo of Lexical working with ActionText.
      <a href="https://github.com/developius/lexical-actiontext" target="_blank">See source</a>,
      or check out my blog post if you're interested in knowing more about it.
      — Finnian
    </p>

    <%= yield %>

    <script src="https://cdn.usefathom.com/script.js" data-site="YYKVPSYL" defer></script>
  </body>
</html>
